{% extends "base.html" %}
{% load static %}

{% block headtitle %}Premium Membership - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
<link href="{% static "css/media.css" %}" rel="preload" as="style">
<link href="{% static "css/media.css" %}" rel="stylesheet">
{% endblock topimports %}

{% block content %}
<div id="page-subscriptions"></div>
{% endblock content %}

{% block bottomimports %}
    <script src="{% static "js/subscriptions.js" %}?v={{ VERSION }}"></script>
{% endblock bottomimports %}
